{% extends "layouts/layout.html" %}


{% block content %}
  {% for post in posts %}
  <article class="col-12 col-md-6 tm-post">
    <hr class="tm-hr-primary">
    <a href="post.html" class="effect-lily tm-post-link tm-pt-60">
        {% if post.image != '' %}  
        <div class="tm-post-link-inner">
            <img src="/assets/uploads/files/{{ post.image }}" alt="Image" class="img-fluid">                            
        </div>
        {% endif %}
        <!-- <span class="position-absolute tm-new-badge">New</span> -->
        <h2 class="tm-pt-30 tm-color-primary tm-post-title">{{ post.title }}</h2>
    </a>                    
    <p class="tm-pt-30">
       {{ post.intro }}
    </p>
    <div class="d-flex justify-content-between tm-pt-45">
        <span class="tm-color-primary">Travel . Events</span>
        <span class="tm-color-primary">June 24, 2020</span>
    </div>
    <hr>
    <div class="d-flex justify-content-between">
        <span>36 comments</span>
        <span>by Admin Nat</span>
    </div>
  </article>
  {% endfor %}
{% endblock %}
